<div id='left' class='sidebar'>
    <h2>Administrative Agencies</h2>
    <ul class='menu'>
        {{#agencies}}
            {{#active}}
                <li class='active'><a href='/agency/{{ID}}'>{{Human}}</a></li>
            {{/active}}
            {{^active}}
                <li><a href='/agency/{{ID}}'>{{Human}}</a></li>
            {{/active}}
        {{/agencies}}
    </ul>
</div>
<div id='main'>
    <div class='map'>
        <div id='agency-map' class='waxmap' src='/map/agency/{{ID}}'></div>
    </div>
    <div class='header'>
        <h2>{{pageTitle}}</h2>
    </div>
    <div class='content'>
    </div>
</div>

