<div id='left' class='sidebar'>
    <h2>Administrative Agencies</h2>
    <ul class='menu'>
        {{#agencies}}
            {{#active}}
                <li class='active'><a href='/agency/{{id}}'>{{name}}</a></li>
            {{/active}}
            {{^active}}
                <li><a href='/agency/{{id}}'>{{name}}</a></li>
            {{/active}}
        {{/agencies}}
    </ul>
</div>

<div id='main'>
    <div class='map'>
        <div id='agency-map' class='waxmap' src='/map/agency/{{id}}'></div>
    </div>
    <div class='header'>
        <h2>{{pageTitle}}</h2>
        <div class='profile prose'>{{{profile}}}</div>
    </div>
    <div class='content'>
        {{#groups}}
        <div class='group clearfix'>
            <h2 class='group-shortname'>{{shortname}}</h2>
            <p class='group-text'>{{text}}</p>
            {{#questions}}
            <div class='question clearfix'>
                <h2 class='question-name'>{{{name}}}</h2>
                <div class='graph'>
                    {{#responses}}
                    <span class='bar {{class}}' style='width:{{width}}px; left:{{offset}}px;'>
                        <label>
                            <strong>{{label}}</strong>
                            {{percent}}% &mdash; {{number}} respondents
                        </label>
                    </span>
                    {{/responses}}
                </div>
            </div>
            {{/questions}}
        </div>
        {{/groups}}
    </div>
</div>
