<div id='left' class='sidebar'>
    <h2>Administrative Agencies</h2>
    <ul class='menu'>
        {{#agencies}}
            {{#active}}
                <li class='active'><a href='/agency/{{id}}'>{{name}}</a></li>
            {{/active}}
            {{^active}}
                <li><a href='/agency/{{id}}'>{{name}}</a></li>
            {{/active}}
        {{/agencies}}
    </ul>
</div>

<div id='main'>
    <div class='map'>
      <div id='block-openlayers_plus-blockswitcher' class='ne'>
        <div class='openlayers-blockswitcher clear-block'>
          <div class='layers base'>
            <h2 class='layers-title'>Base Layers</h2>
            <div class='layers-content'>
            </div>
          </div>
          <div class='layers data'>
            <h2 class='layers-title'>Data Layers</h2>
            <div class='layers-content'>
            </div>
          </div>
          <div style='display:none' class='factory'>
            <div class='form-item form-option radio'>
              <label class='option'></label>
            </div>
            <div class='form-item form-option checkbox'>
              <label class='option'><span class='key'></span><input class='form-checkbox' type='checkbox' /></label>
            </div>
          </div>
        </div>
      </div>
      <div id='agency-map' class='waxmap' src='/map/agency/{{agencyid}}'></div>
    </div>
    <div class='header'>
        <h2>{{pageTitle}}</h2>
        {{#drone_info}}
        <div id='drone-info'>
          <h3>Drone strikes in 2010</h3>
          <ul>
            {{#total}}
              <li><span class="label">Total incidents</span> <span class="value">{{.}} strikes</span></li>
            {{/total}}
            {{#militant_deaths_min}}
              <li><span class="label">Militant deaths</span> <span class="value">{{.}} {{../militant_dealths_max}}</span></li>
            {{/militant_deaths_min}}
            {{#civilian_deaths_min}}
              <li><span class="label">Civilians killed</span> <span class="value">{{.}} {{../civilian_deaths_max}}</span></li>
            {{/civilian_deaths_min}}
            {{#leader_deaths}}
              <li><span class="label">Leaders killed</span> <span class="value">{{.}}</span></li>
            {{/leader_deaths}}
          </ul>
        </div>
        {{/drone_info}}
        <div class='profile prose'>{{{profile}}}</div>
    </div>
    <div class='content' id='content'>
        <div class='demographics'>
            <div class='filter'>
                <h2>Filter by demographics</h2>
                <div class='facets clearfix'>
                    <a href='/agency/{{agencyid}}}#content'>All results</a>
                </div>
            </div>
            {{#demographics}}
            <div class='filter'>
                <label>{{name}}</label>
                <div class='facets clearfix'>
                    {{#facets}}
                        <a href='/agency/{{../../agencyid}}/{{../id}}/{{id}}#content'>{{name}}</a>
                    {{/facets}}
                </div>
            </div>
            {{/demographics}}
        </div>
        {{#groups}}
        <div class='group clearfix'>
            <h2 class='group-shortname'>{{shortname}}</h2>
            <p class='group-text'>{{text}}</p>
            {{#renderedQuestions}}
            <div class='question clearfix'>
                <h2 class='question-name'>{{{name}}}</h2>
                <div class='graph'>
                    {{^responses}}
                        <span class='empty'>No data available</span>
                    {{/responses}}
                    {{#responses}}
                    <span class='bar {{class}}' style='width:{{width}}px; left:{{offset}}px;'>
                        <label>
                            <strong>{{label}}</strong>
                            {{percent}}% &mdash; {{number}} respondents
                        </label>
                    </span>
                    {{/responses}}
                </div>
            </div>
            {{/renderedQuestions}}
        </div>
        {{/groups}}
    </div>
</div>
