<div id='main'>
    <div class='map'>
        <div id='home-map' class='waxmap' src='/map/home/{{id}}'></div>
    </div>
    <div class='navigation clearfix'>
        <div class='agencies'>
            <h2>Administrative Agencies</h2>
            <ul class='menu'>
            {{#agencies}}
                <li><a href="/agency/{{id}}">{{name}}</a></li>
            {{/agencies}}
            </ul>
        </div>
        <div class='questions'>
            <h2>Sentiment Survey Questions</h2>
            <ul class='menu questions'>
            {{#groups}}
                <li><a href="/question/{{id}}">{{shortname}}</a></li>
            {{/groups}}
            </ul>
        </div>
    </div>
    <div class='header'>
        <div class='prose'>{{{intro}}}</div>
    </div>
    <div class='content'>
        {{#sections}}
        <div class='section prose'>{{{text}}}</div>
        {{/sections}}
    </div>
</div>
