<div id='main'>
    <div class='map'>
        <div id='home-map' class='waxmap' src='/map/home/{{id}}'></div>
    </div>
    <div class='navigation clearfix'>
        <div class='agencies'>
            <h2>Administrative<br/>Agencies</h2>
            <ul class='menu'>
            {{#agencies}}
                <li><a href="/agency/{{id}}">{{name}}</a></li>
            {{/agencies}}
            </ul>
        </div>
        <div class='questions'>
            <h2>Sentiment<br/>Survey Questions</h2>
            <ul class='menu questions'>
            {{#groups}}
                <li><a href="/question/{{id}}">{{shortname}}</a></li>
            {{/groups}}
            </ul>
        </div>
    </div>
    <div class='header'>
        <div class='prose'>{{{intro}}}</div>
    </div>
    <div class='content'>
        {{#sections}}
        <div class='section'>
            {{#group}}
            <div class='group clearfix'>
                <h2 class='group-shortname'>{{shortname}}</h2>
                <p class='group-text'>{{text}}</p>
                {{#renderedQuestions}}
                <div class='question clearfix'>
                    <h2 class='question-name'>{{{name}}}</h2>
                    <div class='graph'>
                        {{^responses}}
                            <span class='empty'>No data available</span>
                        {{/responses}}
                        {{#responses}}
                        <span class='bar {{class}}' style='width:{{width}}px; left:{{offset}}px;'>
                            <label>
                                <strong>{{label}}</strong>
                                {{percent}}% &mdash; {{number}} respondents
                            </label>
                        </span>
                        {{/responses}}
                    </div>
                </div>
                {{/renderedQuestions}}
            </div>
            {{/group}}
            <div class='prose'>{{{content}}}</div>
        </div>
        {{/sections}}
    </div>
</div>
