<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ pageTitle }} | {{ siteTitle }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
    <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/stylewriter/stylewriter_xyz.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/stylewriter/stylewriter_interaction.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.mapbox.com/ol/2.8/mapbox.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/openlayers_wax.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/flot/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/site.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class='{{ bodyClasses }}'>
    <div id='global'><div class='limiter'>
      <a class='new-america' href='http://www.newamerica.net'>New American Foundation</a>
    </div></div>
    <div class='limiter'>
        <div id="branding">
            <h1 class="site-name"><a href='/'>{{ siteTitle }}</a></h1>
        </div>
        {{{ body }}}
        <div id="footer">
            {{footerMessage}}
        </div>
    </div>
</body>
</html>
