<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ pageTitle }} | {{ siteTitle }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
    <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/openlayers_svn/lib/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.mapbox.com/ol/2.8/mapbox.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/openlayers_wax.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/flot/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="branding">
        <h1 class="site-name">{{ siteTitle }}</h1>
        <ul class="primary-navigation">
            {{#primaryNavigation}}
                {{#active}}
                    <li><a href="{{url}}" class="active">{{title}}</a></li>
                {{/active}}
                {{^active}}
                    <li><a href="{{url}}">{{title}}</a></li>
                {{/active}}
            {{/primaryNavigation}}
        </ul>
    </div>
    <h2 class="page-title">{{pageTitle}}</h2>
    {{{ body }}}
</body>
</html>
