<div id='left' class='sidebar'>
    <h2>Sentiment Survey Questions</h2>
    <ul class='menu'>
        {{#questions}}
            {{#active}}
                <li class='active'><a href='/question/{{id}}'>{{shortname}}</a></li>
            {{/active}}
            {{^active}}
                <li><a href='/question/{{id}}'>{{shortname}}</a></li>
            {{/active}}
        {{/questions}}
    </ul>
</div>
<div id='main'>
    <div class='map'>
        <div id='question-map' class='waxmap' src='/map/question/temp'></div>
    </div>
    <div class='header'>
        <h2>{{pageTitle}}</h2>
        <h3>{{subTitle}}</h3>
    </div>
    <div class='content'>
        {{#responses}}
            <h2>{{text}}</h2>
            {{#agencies}}
                {{id}}
            {{/agencies}}
        {{/responses}}
    </div>
</div>
