<div id='left' class='sidebar'>
    <h2>Sentiment Survey Questions</h2>
    <ul class='menu'>
        {{#groups}}
            {{#active}}
                <li class='active'><a href='/question/{{id}}'>{{shortname}}</a></li>
            {{/active}}
            {{^active}}
                <li><a href='/question/{{id}}'>{{shortname}}</a></li>
            {{/active}}
        {{/groups}}
    </ul>
</div>
<div id='main'>
    <div class='header'>
        <h2>{{pageTitle}}</h2>
        <h3>{{{subTitle}}}</h3>
    </div>
    <div class='content'>
        <div class='group clearfix'>
            <h2 class='group-shortname'>FATA Totals</h2>
            {{#totals}}
            <div class='question clearfix'>
                <h2 class='question-name'>{{{name}}}</h2>
                <div class='graph'>
                {{#responses}}
                <span class='bar {{class}}' style='width:{{width}}px; left:{{offset}}px;'>
                    <label>
                        <strong>{{label}}</strong>
                        {{percent}}% &mdash; {{number}} respondents
                    </label>
                </span>
                {{/responses}}
                </div>
            </div>
            {{/totals}}
        </div>
        <div class='agency-breakdown'>
            {{#questions}}
            <div class='group clearfix'>
                <h2 class='group-shortname'>{{{name}}}</h2>
                {{#agencies}}
                <div class='question clearfix'>
                    <h2 class='agencey-name'>{{name}}</h2>
                    <div class='graph'>
                    {{#responses}}
                    <span class='bar {{class}}' style='width:{{width}}px; left:{{offset}}px;'>
                        <label>
                            <strong>{{label}}</strong>
                            {{percent}}% &mdash; {{number}} respondents
                        </label>
                    </span>
                    {{/responses}}
                    </div>
                </div>
                {{/agencies}}
            </div>
            {{/questions}}
        </div>
    </div>
</div>
